.expense-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 8px rgba(19, 18, 18, 0.25);
	padding: 0.5rem;
	margin: 1rem 0;
	border-radius: 12px;
	background-color: #65599b;
}
.expense-item__description {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-end;
	flex-flow: column-reverse;
	justify-content: flex-start;
	flex: 1;
}
.expense-item h2 {
	font-size: 1.5rem;
	flex: 1;
	margin: 0 2rem;
	color: white;
}
.expense-item__price {
	font-size: 2rem;
	font-weight: bold;
	color: rgb(248, 240, 240);
	background-color: #271a55;
	border: 1px solid white;
	padding: 0.5rem;
	border-radius: 12px;
}
@media (min-width: 580px) {
	.expense-item__description {
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		flex: 1;
		font-size: 20px;
	}
	.expense-item__description h2 {
		font-size: 1.25rem;
	}
	.expense-item__price {
		font-size: 1.25rem;
		padding: 0.5rem 1.5rem;
	}
}
