.expense-date{
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    width: 90px;
    height: 80px;
    line-height: 20px;
    background-color: rgb(207, 197, 221);
    color: black ;
    font-weight: 600;

}
.expense-date div{
    opacity: 0.8;
}